In [1]:
import os 
import pandas as pd

In [7]:
data_path = os.path.join('..', 'data', 'single_station_data.csv')
data = pd.read_csv(data_path, parse_dates= ['date'])

In [8]:
print(data.shape)
data.head()

(87698, 12)

,number_sta,lat,lon,height_sta,date,dd,ff,precip,hu,td,t,psl
0,1034004,45.77,5.69,330.0,2016-01-01 00:00:00,0.0,0.0,0.0,100.0,279.15,279.15,NaN
1,1034004,45.77,5.69,330.0,2016-01-01 00:06:00,0.0,0.0,0.0,100.0,279.05,279.05,NaN
2,1034004,45.77,5.69,330.0,2016-01-01 00:12:00,0.0,0.0,0.0,100.0,278.85,278.85,NaN
3,1034004,45.77,5.69,330.0,2016-01-01 00:18:00,0.0,0.0,0.0,100.0,278.85,278.85,NaN
4,1034004,45.77,5.69,330.0,2016-01-01 00:24:00,0.0,0.0,0.0,100.0,278.85,278.85,NaN

Comentario Pablo
Comentario 2